<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Page 2</title>
  </head>
  <body>
    <button type="button" onclick="location.href='http://localhost:3000';" name="button">Home</button>
    <button type="button" onclick="location.href='http://localhost:3000/page3';" name="button">Page 3</button>
    <h1>Hi {{cohortName}}!</h1>

  </body>
</html>
